---
- name: Deploy k3s cluster
  hosts: all
  # become: true
  collections:
    - community.general
  vars:
    k3s_version: "v1.30.14+k3s2"
    docker_version: "26.0.2"
  roles:
    - roles/k3s_cluster