---
- name: Deploy k3s cluster
  hosts: all
  become: true
  vars:
    holding: /home/kevin/music-holding
    mount: /var/lib/kubelet/pods/00096d79-432f-41b9-aaa3-d196cc66b2cf/volumes/kubernetes.io~csi/pvc-58053bde-d8e5-456f-bef0-6262f8c14b43/mount
  tasks:
    - name: Recursively find 
      ansible.builtin.find:
        paths: "{{ holding }}"
        patterns: '*.DS_Store'
        recurse: yes
        hidden: true
      register: find_results
    
    - name: Debug find results
      ansible.builtin.debug:
        msg: "{{ find_results }}"

    - name: Remove matched files 
      ansible.builtin.file:
        path: "{{ item['path'] }}"
        state: absent
      loop: "{{ find_results['files'] }}"

    - name: Copy to mount
      ansible.builtin.copy:
        src: "{{ holding }}"
        dest: "{{ mount }}"
        remote_src: true